---
http_interactions:
- request:
    method: post
    uri: https://api.deepl.com/v2/glossaries?param=fake
    body:
      encoding: US-ASCII
      string: name=Mi+Glosario&source_lang=EN&target_lang=ES&entries=Hello%09Hola%0AWorld%09Mundo%0A&entries_format=tsv
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"glossary_id":"579859d0-0036-489f-8ad5-70c27ffcd3a9","name":"Mi Glosario","ready":true,"source_lang":"en","target_lang":"es","creation_time":"2022-01-24T00:37:04.932382+00:00","entry_count":2}'
  recorded_at: Mon, 24 Jan 2022 00:37:05 GMT
- request:
    method: get
    uri: https://api.deepl.com/v2/glossaries/d9ad833f-c818-430c-a3c9-47071384fa3e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"glossary_id":"d9ad833f-c818-430c-a3c9-47071384fa3e","name":"Mi Glosario","ready":true,"source_lang":"en","target_lang":"es","creation_time":"2022-01-23T23:01:10.073429+00:00","entry_count":2}'
  recorded_at: Mon, 24 Jan 2022 01:51:30 GMT
[...]
- request:
    method: get
    uri: https://api.deepl.com/v2/glossaries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"glossaries":[{"glossary_id":"012a5576-b551-4d4c-b917-ce01bc8debb6","name":"Mi
        Glosario","ready":true,"source_lang":"en","target_lang":"es","creation_time":"2022-01-24T02:21:43.300323+00:00","entry_count":2}]}'
  recorded_at: Mon, 24 Jan 2022 02:24:30 GMT
[...]
- request:
    method: get
    uri: https://api.deepl.com/v2/glossaries/012a5576-b551-4d4c-b917-ce01bc8debb6/entries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/tab-separated-values; charset=UTF-8
    body:
      encoding: UTF-8
      string: "Hello\tHola\nWorld\tMundo"
  recorded_at: Mon, 24 Jan 2022 02:52:12 GMT
[...]
- request:
    method: get
    uri: https://api.deepl.com/v2/glossary-language-pairs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"supported_languages":[{"source_lang":"de","target_lang":"en"},{"source_lang":"en","target_lang":"de"},{"source_lang":"en","target_lang":"es"},{"source_lang":"en","target_lang":"fr"},{"source_lang":"es","target_lang":"en"},{"source_lang":"fr","target_lang":"en"}]}'
  recorded_at: Mon, 24 Jan 2022 03:01:06 GMT
[...]
- request:
    method: post
    uri: https://api.deepl.com/v2/glossaries
    body:
      encoding: UTF-8
      string: '{"name":"Mi Glosario","source_lang":"EN","target_lang":"ES","entries":"Hello\tHola\nWorld\tMundo\n","entries_format":"tsv","param":"fake"}'
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 8d973e98ef61488e81b030fd321b6a4d
    body:
      encoding: UTF-8
      string: '{"glossary_id":"e7a62637-7ef4-4959-a355-09ba61dd0126","name":"Mi Glosario","ready":true,"source_lang":"en","target_lang":"es","creation_time":"2024-07-02T15:04:46.016123Z","entry_count":2}'
  recorded_at: Tue, 02 Jul 2024 15:04:46 GMT
[...]
- request:
    method: delete
    uri: https://api.deepl.com/v2/glossaries/78ad9bb3-41b3-49dd-af0d-583333e84d4e
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Trace-Id:
      - 408e7f819cea41e28a324a68e7dd233a
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 09 Jul 2024 02:19:05 GMT
recorded_with: VCR 6.2.0
