---
http_interactions:
- request:
    method: post
    uri: https://api.deepl.com/v2/document
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
      Content-Type:
      - multipart/form-data
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - b75074d5fc9041e2ab0a7c1d3cec1548
    body:
      encoding: ASCII-8BIT
      string: '{"document_id":"9D9F9BFB1D2839088BDA205A2C64FF47","document_key":"F3D1826B4733BD3B965E435DD371C94DAB71335E4A5F5D74E3FC84F4E1949D3A"}'
  recorded_at: Fri, 05 Jul 2024 09:28:10 GMT
- request:
    method: post
    uri: https://api.deepl.com/v2/document/9D9F9BFB1D2839088BDA205A2C64FF47?param=fake
    body:
      encoding: US-ASCII
      string: document_key=F3D1826B4733BD3B965E435DD371C94DAB71335E4A5F5D74E3FC84F4E1949D3A
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 79be41e7283f4df793f29e96bff7e9fd
    body:
      encoding: ASCII-8BIT
      string: '{"document_id":"9D9F9BFB1D2839088BDA205A2C64FF47","status":"done","billed_characters":256}'
  recorded_at: Fri, 05 Jul 2024 09:28:57 GMT
recorded_with: VCR 6.2.0
