---
http_interactions:
- request:
    method: post
    uri: https://api.deepl.com/v2/document
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
      Content-Type:
      - multipart/form-data
      Fake-Header:
      - fake_value
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - cdde031b7a5e48d7a8c4a5a2f1b9dc6e
    body:
      encoding: ASCII-8BIT
      string: '{"document_id":"9B7CB9418DCDEBF2C4C519F65A32B99F","document_key":"EA637EA43BB3F8A52A2A25B76EF3E0C72CE9CD00C881148D1236CB584CB34815"}'
  recorded_at: Tue, 09 Jul 2024 02:02:17 GMT
- request:
    method: post
    uri: https://api.deepl.com/v2/document/9B7CB9418DCDEBF2C4C519F65A32B99F
    body:
      encoding: UTF-8
      string: '{"document_key":"EA637EA43BB3F8A52A2A25B76EF3E0C72CE9CD00C881148D1236CB584CB34815","param":"fake"}'
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
      Content-Type:
      - application/json
      Fake-Header:
      - fake_value
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 73fc4be8f3964b4080f89ee686c090be
    body:
      encoding: ASCII-8BIT
      string: '{"document_id":"9B7CB9418DCDEBF2C4C519F65A32B99F","status":"done","billed_characters":256}'
  recorded_at: Tue, 09 Jul 2024 02:03:49 GMT
recorded_with: VCR 6.2.0
