---
http_interactions:
- request:
    method: post
    uri: https://api.deepl.com/v2/write/rephrase
    body:
      encoding: UTF-8
      string: '{"text":["Ih bin ei beispielsatz."]}'
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 55e4d15b3b5f43d5911ddd20e43e4853
    body:
      encoding: ASCII-8BIT
      string: '{"improvements":[{"text":"Ich bin ein Beispiel.","detected_source_language":"de","target_language":"de"}]}'
  recorded_at: Tue, 04 Nov 2025 09:49:47 GMT
- request:
    method: post
    uri: https://api.deepl.com/v2/write/rephrase
    body:
      encoding: UTF-8
      string: '{"text":["Ih bin ei beispielsatz."],"target_lang":"DE"}'
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - bdeb8592514b40b8a16068b3cff1a4ed
    body:
      encoding: ASCII-8BIT
      string: '{"improvements":[{"text":"Ich bin ein Beispiel.","detected_source_language":"de","target_language":"de"}]}'
  recorded_at: Tue, 04 Nov 2025 09:49:47 GMT
recorded_with: VCR 6.2.0
