---
http_interactions:
- request:
    method: get
    uri: https://api.deepl.com/v2/languages
    body:
      encoding: UTF-8
      string: '{"type":"target"}'
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 245e59cedea848ef8c7ccb7d15a71aea
    body:
      encoding: ASCII-8BIT
      string: '[{"language":"BG","name":"Bulgarian","supports_formality":false},{"language":"CS","name":"Czech","supports_formality":false},{"language":"DA","name":"Danish","supports_formality":false},{"language":"DE","name":"German","supports_formality":true},{"language":"EL","name":"Greek","supports_formality":false},{"language":"EN-GB","name":"English
        (British)","supports_formality":false},{"language":"EN-US","name":"English
        (American)","supports_formality":false},{"language":"ES","name":"Spanish","supports_formality":true},{"language":"ET","name":[...]
