---
http_interactions:
- request:
    method: post
    uri: https://api-free.deepl.com/v2/glossaries
    body:
      encoding: US-ASCII
      string: name=Mi+Glosario&source_lang=EN&target_lang=ES&entries=Hello%09Hola%0AWorld%09Mundo%0A&entries_format=tsv
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"glossary_id":"3d12b7d8-012d-47b8-8378-c7085644026d","name":"Mi Glosario","ready":true,"source_lang":"en","target_lang":"es","creation_time":"2022-01-24T01:32:33.045005+00:00","entry_count":2}'
  recorded_at: Mon, 24 Jan 2022 01:32:33 GMT
- request:
    method: get
    uri: https://api-free.deepl.com/v2/glossaries/d9ad833f-c818-430c-a3c9-47071384fa3e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"glossary_id":"d9ad833f-c818-430c-a3c9-47071384fa3e","name":"Mi Glosario","ready":true,"source_lang":"en","target_lang":"es","creation_time":"2022-01-23T23:01:10.073429+00:00","entry_count":2}'
  recorded_at: Mon, 24 Jan 2022 01:32:36 GMT
[...]
- request:
    method: get
    uri: https://api-free.deepl.com/v2/glossaries/invalid-uuid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Invalid or missing glossary id"}'
  recorded_at: Mon, 24 Jan 2022 01:32:36 GMT
- request:
    method: get
    uri: https://api-free.deepl.com/v2/glossaries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"glossaries":[{"glossary_id":"012a5576-b551-4d4c-b917-ce01bc8debb6","name":"Mi
        Glosario","ready":true,"source_lang":"en","target_lang":"es","creation_time":"2022-01-24T02:21:43.300323+00:00","entry_count":2}]}'
  recorded_at: Mon, 24 Jan 2022 02:22:25 GMT
[...]
- request:
    method: get
    uri: https://api-free.deepl.com/v2/glossaries/012a5576-b551-4d4c-b917-ce01bc8debb6/entries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/tab-separated-values; charset=UTF-8
    body:
      encoding: UTF-8
      string: "Hello\tHola\nWorld\tMundo"
  recorded_at: Mon, 24 Jan 2022 02:46:13 GMT
[...]
- request:
    method: get
    uri: https://api-free.deepl.com/v2/glossaries/invalid-uuid/entries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Invalid or missing glossary id"}'
  recorded_at: Mon, 24 Jan 2022 02:46:14 GMT
- request:
    method: get
    uri: https://api-free.deepl.com/v2/glossary-language-pairs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"supported_languages":[{"source_lang":"de","target_lang":"en"},{"source_lang":"en","target_lang":"de"},{"source_lang":"en","target_lang":"es"},{"source_lang":"en","target_lang":"fr"},{"source_lang":"es","target_lang":"en"},{"source_lang":"fr","target_lang":"en"}]}'
  recorded_at: Mon, 24 Jan 2022 02:57:52 GMT
[...]
- request:
    method: get
    uri: https://api-free.deepl.com/v2/glossaries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DeepL-Auth-Key invalid
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 67992b0faeb74a78bd240f91794c7aa4
    body:
      encoding: UTF-8
      string: '{"message":"Unauthorized"}'
  recorded_at: Tue, 02 Jul 2024 13:54:06 GMT
- request:
    method: post
    uri: https://api.deepl.com/v2/glossaries
    body:
      encoding: UTF-8
      string: '{"name":"Mi Glosario","source_lang":"EN","target_lang":"ES","entries":"Hello\tHola\nWorld\tMundo\n","entries_format":"tsv"}'
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - cd39089c800c4100838fd995e796fc03
    body:
      encoding: UTF-8
      string: '{"glossary_id":"9ab5dac2-b7b2-4b4a-808a-e8e305df5ecb","name":"Mi Glosario","ready":true,"source_lang":"en","target_lang":"es","creation_time":"2024-07-02T15:04:50.832836Z","entry_count":2}'
  recorded_at: Tue, 02 Jul 2024 15:04:50 GMT
- request:
    method: delete
    uri: https://api.deepl.com/v2/glossaries/00000000-0000-0000-0000-000000000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 2d69f738aa284353b0f2eb58d9a033f9
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not found"}'
  recorded_at: Tue, 02 Jul 2024 15:04:52 GMT
- request:
    method: delete
    uri: https://api.deepl.com/v2/glossaries/invalid-uuid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 015d984f05c8472787f92c1af0481f63
    body:
      encoding: UTF-8
      string: '{"message":"Invalid or missing glossary id"}'
  recorded_at: Tue, 02 Jul 2024 15:04:52 GMT
- request:
    method: get
    uri: https://api.deepl.com/v2/glossaries/012a5576-b551-4d4c-b917-ce01bc8debb6/entries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - b5db58d025374b7783e866dbcf579dd9
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not found"}'
  recorded_at: Tue, 02 Jul 2024 15:04:52 GMT
[...]
- request:
    method: get
    uri: https://api.deepl.com/v2/glossaries/invalid-uuid/entries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 792c3fec4bf94dca9364027f7784407b
    body:
      encoding: UTF-8
      string: '{"message":"Invalid or missing glossary id"}'
  recorded_at: Tue, 02 Jul 2024 15:04:53 GMT
[...]
- request:
    method: get
    uri: https://api.deepl.com/v2/glossary-language-pairs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - ace8596e7ffa4a09a9fd4dfacf740a3c
    body:
      encoding: ASCII-8BIT
      string: '{"supported_languages":[{"source_lang":"de","target_[...]
[...]
- request:
    method: get
    uri: https://api.deepl.com/v2/glossaries
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - DeepL-Auth-Key invalid
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - fb2937f8608b4245976cf5a301177068
    body:
      encoding: UTF-8
      string: '{"message":"Unauthorized"}'
  recorded_at: Tue, 09 Jul 2024 10:04:23 GMT
recorded_with: VCR 6.2.0
