---
http_interactions:
- request:
    method: post
    uri: https://api.deepl.com/v2/write/rephrase
    body:
      encoding: UTF-8
      string: '{"text":["As Gregor Samsa awoke one morning from uneasy dreams he found
        himself transformed."],"target_lang":"EN"}'
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - '09daf98547c94050b68e39cf38b0fe7d'
    body:
      encoding: ASCII-8BIT
      string: '{"improvements":[{"text":"When Gregor Samsa awoke one morning from
        troubled dreams, he found himself transformed.","detected_source_language":"en","target_language":"en-US"}]}'
  recorded_at: Fri, 10 Jan 2025 07:00:45 GMT
[...]
- request:
    method: post
    uri: https://api.deepl.com/v2/write/rephrase
    body:
      encoding: UTF-8
      string: '{"text":["As Gregor Samsa awoke one morning from uneasy dreams he found
        himself transformed."],"target_lang":"EN","tone":"friendly"}'
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 14fdbaa36544495a993136451b65e52b
    body:
      encoding: ASCII-8BIT
      string: '{"improvements":[{"text":"One morning, Gregor Samsa woke up from restless
        dreams to find himself in a strange new form.","detected_source_language":"en","target_language":"en-US"}]}'
  recorded_at: Fri, 10 Jan 2025 07:00:46 GMT
[...]
- request:
    method: post
    uri: https://api.deepl.com/v2/write/rephrase
    body:
      encoding: UTF-8
      string: '{"text":["As Gregor Samsa awoke one morning from uneasy dreams he found
        himself transformed."],"target_lang":"EN","writing_style":"business"}'
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 58d0bbf1167f40b2a62f87c2a6d7dda3
    body:
      encoding: ASCII-8BIT
      string: '{"improvements":[{"text":"Gregor Samsa awoke one morning, having had
        disturbing dreams, to find himself transformed.","detected_source_language":"en","target_language":"en-US"}]}'
  recorded_at: Fri, 10 Jan 2025 07:00:47 GMT
[...]
- request:
    method: post
    uri: https://api.deepl.com/v2/write/rephrase
    body:
      encoding: UTF-8
      string: '{"text":["As Gregor Samsa awoke one morning from uneasy dreams he found
        himself transformed."],"target_lang":"EN"}'
    headers:
      Authorization:
      - DeepL-Auth-Key invalid
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 568ef89e665f499ebcbc62b90ba09019
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Invalid API key."}'
  recorded_at: Fri, 10 Jan 2025 07:00:48 GMT
recorded_with: VCR 6.3.1
