---
http_interactions:
- request:
    method: post
    uri: https://api.deepl.com/v3/style_rules
    body:
      encoding: UTF-8
      string: '{"name":"Instruction Test","language":"en"}'
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - ae0b8f4320414c8e8308340eca39b9b5
    body:
      encoding: ASCII-8BIT
      string: '{"style_id":"a8f08169-8d30-47f4-a06a-3a7d93100622","name":"Instruction
        Test","creation_time":"2026-04-21T17:51:48.60032Z","updated_time":"2026-04-21T17:51:48.600543Z","language":"en","version":1,"custom_instructions":[],"configured_rules":{}}'
  recorded_at: Tue, 21 Apr 2026 17:51:48 GMT
- request:
    method: post
    uri: https://api.deepl.com/v3/style_rules/a8f08169-8d30-47f4-a06a-3a7d93100622/custom_instructions
    body:
      encoding: UTF-8
      string: '{"label":"Test Instruction","prompt":"Always use formal language"}'
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 8a07a54af0084c5ea8099c4a0b758e35
    body:
      encoding: ASCII-8BIT
      string: '{"id":"f35db85e-a3f7-4d84-bdc2-af9288cfffe5","label":"Test Instruction","prompt":"Always
        use formal language"}'
  recorded_at: Tue, 21 Apr 2026 17:51:49 GMT
[...]
- request:
    method: delete
    uri: https://api.deepl.com/v3/style_rules/c36516d5-40da-4fe1-ab61-c562dc745fc3/custom_instructions/ecb6c4ec-7ec8-429d-9d80-455f8b7c1a0a
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Trace-Id:
      - 5805f9033cce4e02a8fd0479128e6ad9
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Apr 2026 17:51:52 GMT
[...]
- request:
    method: delete
    uri: https://api.deepl.com/v3/style_rules/46a3dca4-657d-4390-b868-90609413d3d6
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Trace-Id:
      - 19dff3dac0574015a916ed9b6aa5e457
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Apr 2026 17:51:54 GMT
- request:
    method: delete
    uri: https://api.deepl.com/v3/style_rules/invalid-uuid
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - '085e505956424bb8ad2a33857e9a7805'
    body:
      encoding: UTF-8
      string: '{"message":"Bad request. Reason: Invalid or missing style rule id"}'
  recorded_at: Tue, 21 Apr 2026 17:51:55 GMT
[...]
- request:
    method: put
    uri: https://api.deepl.com/v3/style_rules/8d80ddd1-e6e6-40ab-b2bc-7b2574f256e5/configured_rules
    body:
      encoding: UTF-8
      string: '{"dates_and_times":{"calendar_era":"use_bc_and_ad"}}'
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - ec830f7057eb4038b44df018e31e1709
    body:
      encoding: ASCII-8BIT
      string: '{"style_id":"8d80ddd1-e6e6-40ab-b2bc-7b2574f256e5","name":"Configured
        Rules Test","creation_time":"2026-04-21T17:52:00.91128Z","updated_time":"2026-04-21T17:52:01.5156185Z","language":"en","version":2,"custom_instructions":[],"configured_rules":{"dates_and_times":{"calendar_era":"use_bc_and_ad"}}}'
  recorded_at: Tue, 21 Apr 2026 17:52:01 GMT
[...]
- request:
    method: patch
    uri: https://api.deepl.com/v3/style_rules/0f49066c-7382-4a1b-922c-62a35ea7fce9
    body:
      encoding: UTF-8
      string: '{"name":"Updated Name"}'
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - e22dd6d04d964f9ca3be1018ddb7dd05
    body:
      encoding: ASCII-8BIT
      string: '{"style_id":"0f49066c-7382-4a1b-922c-62a35ea7fce9","name":"Updated
        Name","creation_time":"2026-04-21T17:52:04.728681Z","updated_time":"2026-04-21T17:52:04.728907Z","language":"en","version":1,"custom_instructions":[],"configured_rules":{}}'
  recorded_at: Tue, 21 Apr 2026 17:52:05 GMT
recorded_with: VCR 6.3.1
