---
http_interactions:
- request:
    method: get
    uri: https://api.deepl.com/v3/translation_memories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - abc123def456
    body:
      encoding: ASCII-8BIT
      string: '{"translation_memories":[{"translation_memory_id":"a74d88fb-ed2a-4943-a664-a4512398b994","name":"Legal","source_language":"en","target_languages":["es","de"],"segment_count":3542},{"translation_memory_id":"855d36ab-6112-4ef5-8868-0d69bc4d826a","name":"Medical
        terms","source_language":"de","target_languages":["fr","ja","zh"],"segment_count":23}],"total_count":2}'
  recorded_at: Tue, 22 Apr 2026 10:00:00 GMT
- request:
    method: get
    uri: https://api.deepl.com/v3/translation_memories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DeepL-Auth-Key invalid
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Forbidden"}'
  recorded_at: Tue, 22 Apr 2026 10:00:01 GMT
recorded_with: VCR 6.3.1
